body {
  font-family: "Source Sans Pro", sans-serif;
}

/** Done So that the Other Content are not overlapped due to Navbar [To be Fixed] */
.navbar-component {
    padding-bottom: 75px;
}

.navbar-nav > li:hover{
    font-weight:bold;
    /*border-bottom: solid 3px black;*/
}

/** Removing Extra Spaces in NavBar */
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    font-size: 0;
}

/** Removing Extra Spaces in NavBar */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}


.image-slider-component {
    height: 40%;
}

/** Might Like 
.navbar a {
    border: solid 1px black;
}
*/

/** Cursor on UseFul Links */
.useful-link-list li {
    cursor: pointer;
}

.useful-link-list li:hover {
    background-color: #fff;
    font-weight:bold;
    /* border-bottom: solid 2px black;*/
}

/** Footer Card Same BG Color */
footer .card {
    background-color: #f8f9fa!important;
    border: none;
}

footer .card li{
    border: none;
    background-color: #f8f9fa!important;
}

footer .contactus-card li {
    padding-top: 0.5rem;
}

footer .useful-links-card ul li a{
  color: #000000;
  text-decoration: none;
}

/** Show Google Maps */
.google-maps-iframe {
    width: 100%;
    height: 100%;
}

.google-maps-card {
    height: 400px;
}

.google-maps-card .card-body {
    padding: 0;
}


/*** WhatsApp Button ***/
.whatsapp-float-btn {
    position: fixed; /* Very Crucial */
    width: 240px;
    height: 60px;
    left: 18px; 
    bottom: 40px;
    z-index: 3;
    display: flex; /* Make It FlexBox */
}

.whatsapp-float-btn-icon {
    height: 64px;
    width: 64px;
    bottom: 36px;
    border-radius: 50%;
    background-image: url(/images/icons/whatsapp_circle_outer_64_64.png);
}

.whatsapp-float-btn-icon:hover {
    background-image: url(/images/icons/whatsapp_circle_inner_64_64.png);
}

.whatsapp-float-btn-text {
    padding-left: 6px;
    font-size: 16px;
    color: #000000;
}

/** Table */

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: left;
}

table:not(.imp-table) th:nth-child(2),
table:not(.imp-table) td:nth-child(2) {
    text-align: right;
}

table th {
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    table.imp-table {
        border: 0;
    }

    table.imp-table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        background-color: #000000;
    }

    table.imp-table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table.imp-table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
    }

    table.imp-table tbody tr td:first-child {
        text-align: center;
        font-weight: bold;
        /*text-transform: uppercase;*/
    }

    table.imp-table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        /*text-transform: uppercase;*/
    }

    table.imp-table td:last-child {
        border-bottom: 0;
    }


    /** New **/
    h1 { 
        font-size: calc(1.375rem + 1.0vw)!important;
    }

    .intro-card .card-header {
        flex-direction: column;
    }

    /****/
}


/** New added ***/

.card-title {
    font-weight: 700!important;
}

.card, table {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.row {
    row-gap: 1rem;
}

.intro-card .card-header {
    display: flex;
    justify-content: center;
}
.contactus-card a {
    text-decoration: none;
    color: #000;
}

.contactus-card a:hover {
    font-weight: 900;
}

/**** 4th Dec 2020 ***/

.br-1 {
    border-radius: 1rem!important;
}

.carousel-item img {
    height: 580px!important;
    object-fit: cover;
    object-position: center;
}

.container {
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 280px!important;
    }
}


/*****/


/*****/


/** Extra Animation **/

.intro-small-cards .card {
    transition: all 0.6s ease;
}

.intro-small-cards .card:hover {
    transform: translateY(-25px);
}

.whatsapp-float-btn, .whatsapp-float-btn * {
    transition: all 0.6s ease;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

.whatsapp-float-btn {
    animation: bounce 1.6s infinite;
}

/****/