body {
  font-family: "Source Sans Pro", sans-serif;
}

/** Done So that the Other Content are not overlapped due to Navbar [To be Fixed] */
.navbar-component {
    padding-bottom: 75px;
}

.navbar-nav > li:hover{
    font-weight:bold;
    border-bottom: solid 3px black;
}

/** Removing Extra Spaces in NavBar */
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    font-size: 0;
}

/** Removing Extra Spaces in NavBar */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

/** Might Like 
.navbar a {
    border: solid 1px black;
}
*/

/** Cursor on UseFul Links */
.useful-link-list li {
    cursor: pointer;
}

.useful-link-list li:hover {
    background-color: #fff;
    font-weight:bold;
    /* border-bottom: solid 2px black;*/
}


/** Footer Card Same BG Color */
footer .card {
    background-color: #f8f9fa!important;
    border: none;
}

footer .card li{
    border: none;
    background-color: #f8f9fa!important;
}

footer .contactus-card li {
    padding: 0%;
    padding-top: 0.5rem;
}

/** Show Google Maps */
.google-maps-iframe {
    width: 100%;
    height: 100%;
}

.google-maps-card {
    height: 400px;
}

.connect-social {
    position: fixed;
    right: 1.5%;
    top: 90%;
    transition: all 0.2s ease-in 0s;
    z-index: 9999;
    cursor: pointer;
}

.btn-circle {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 35px;
}





@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}
